<h1>{{model.exercise.name}}</h1>

<form class="{{if isProcessing 'is--processing'}}" {{action "save" model.exercise on="submit"}}>
    {{form-input type="text" label="Name" value=model.exercise.name}}
    {{form-input type="select" label="Choose a category" value=model.categories match=model.exercise.category}}
    <div class="btn-group pull-right" role="group" aria-label="...">
        <button class="btn" {{action "cancel"}}>Cancel</button>
        {{input type="submit" value="Submit"}}
    </div>
</form>

{{#if errorMessage}}
  <div class="alert alert-danger">
    {{errorMessage}}
  </div>
{{/if}}