<h2>Create new workout</h2>
<form class="{{if isProcessing 'is--processing'}}" {{action "create" on="submit"}}>
  {{form-input label="Name" type="text" value=name placeholder="Name"}}
  {{form-input label="Notes" type="textarea" value=notes placeholder="Add your notes" maxlength="250"}}
    <div class="list">
      {{#each workout.exercises as |exercise index|}}
        <h3>{{exercise.name}}</h3>
        {{#each exercise.sets as |set|}}
          {{#form-increment id=exercise.name value=0}}
              <button class="btn delete-row" {{action "deleteRow"}}>-</button>
          {{/form-increment}}
          <button class="btn add-row" {{action "addRow"}}>+</button>
        {{/each}}
      {{/each}}
    </div>
  {{#link-to 'workout.categories' tagName="button" class="btn" }}Add Exercise{{/link-to}}
  {{form-input type="submit" value="Submit"}}
</form>