<h2>Create new exercise</h2>
<form class="{{if isProcessing 'is--processing'}}" {{action "create" on="submit"}}>
    {{form-field label="Name" type="text" value=name}}
    {{form-field label="Category" type="select" value=category}}
    {{form-field type="submit" value="Submit"}} 
</form>
