{{#if label}}
    <label {{bind-attr for=label}}>{{label}}</label>
{{/if}}
{{#unless (if_eq type 'textarea')}}
    {{input type=type value=value id=label placeholder=label maxlength=maxlength keyup="update" }}
{{else}}
    {{textarea value=value id=label placeholder=placeholder maxlength=maxlength keyup="update"}}
{{/unless}}
{{#if maxlength}}
	<span class="counter">characters remaining: {{charactersRemaining}}</span>
{{/if}}
{{yield}}