<h1>Login</h1>
{{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
{{/if}}
<form class="{{if isProcessing 'is--processing'}}" {{action "authenticate" on="submit"}}>
    {{form-input id="identification" type="email" label="Email" value=identification}}
    {{form-input type="password" label="Password" value=password}}
    {{form-input type="submit" value=Submit}}
</form>

