{{#if isEdit}}
    <form class="{{if isProcessing 'is--processing'}}" {{action "save" model on="submit"}}>
        {{form-input label="Name" type="text" value=model.name}}
        {{form-input label="Introduction" type="text" value=model.notes}}
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button class="btn" {{action "cancel"}}>Cancel</button>
            {{input type="submit" value="Submit"}}
        </div>
    </form>

    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
{{else}}
    <h2>{{model.name}}</h2>
    <p>{{model.notes}}</p>
    <p>{{model.createdAt}}</p>
    <ul class="list">
        {{#each model.exercises as |exercise|}}
            <li>{{exercise.name}}</li>
        {{/each}}
    </ul>
{{/if}}