<nav class="navbar">
    <ul class="nav navbar-nav pull-xs-left">
        <li>
            {{#link-to 'index' class="navbar-brand"}}Gains{{/link-to}}
        </li>
        <li>
            {{#link-to 'workout'}}
                {{svg-icon icon='emo-devil' animation='hudoken'}}
            {{/link-to}}
        </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
        <li>
            {{#if session.isAuthenticated}}
                {{#if session.admin}}
                    {{#link-to 'admin'}}admin{{/link-to}}
                {{/if}}
                <a class='link' {{action 'invalidateSession'}}>Logout</a>
            {{else}}
                {{#link-to 'login'}}
                    {{svg-icon icon='emo-happy' animation='boom'}}
                {{/link-to}}
            {{/if}}
        </li>
        <li>
            {{#if session.isAuthenticated}}
                {{#link-to 'profile'}}Profile{{/link-to}}
            {{else}}
                {{#link-to 'register'}}Register{{/link-to}}
                {{#link-to 'admin'}}admin{{/link-to}}
            {{/if}}
        </li>
    </ul>
</nav>